<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <!--Bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="loyout.css" rel="stylesheet">
    <link rel="shortcut icon" href="../../image/site.png" type="image/x-icon">
    <title>ЦК Електронних апаратів</title>
    <title>Document</title>
</head>
<body>
    <div class="row d-flex m-0 p-0 content-background">
        <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0"></div>
        <div class="col-12 col-md-10 col-lg-8 px-5 px-md-0">
            <div class="col-12 p-0 py-3 py-md-5 text-center">
                <p>Header</p>
            </div>
            <div class="col-12 p-0">
              <p>content</p>  
            </div>
            <div class="col-12 p-0 py-3 py-md-5 text-center">
                <p>Header</p>
            </div>
            <div class="col-12 p-0">
              <p>content</p>  
            </div>
            <div class="col-12 p-0 py-3 py-md-5 text-center">
                <p>Header</p>
            </div>
            <div class="col-12 p-0">
              <p>content</p>  
            </div>
        </div>
        <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0"></div>
    </div>
</body>
</html>