<!doctype html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@300&display=swap"
        rel="stylesheet">
    <!--Bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="loyout.css" rel="stylesheet">
    <link href="pages.css" rel="stylesheet">
    <link rel="shortcut icon" href="../../image/site.png" type="image/x-icon">
    <title>ЦК Електронних апаратів</title>

</head>

<body>
    <header>
        <div class="row d-flex m-0 p-0" id="top-nav">
            <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0 h-100"></div>
            <div class="col-12 col-md-10 col-lg-8 my-2 text-center text-sm-left"><span class="ml-0 ml-sm-5 ml-md-0"><img
                        src="../../image/telephone.svg">28-18-11,28-19-36</span>
                <span class="ml-3 ml-md-5"><img src="../../image/mail.svg">tktdtu@gmail.com</span>
            </div>
            <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0"></div>
        </div>
    </header>
    <div class="col-12 p-0 m-0 d-none d-md-flex nav sticky-top">
        <div class="row col-12 d-none d-md-flex p-0 m-0">
            <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0"></div>
            <div class="col-12 col-md-10 col-lg-8 px-0 m-0 d-flex">
                <a class="navbar-brand p-0" href="#"><img src="../../image/Logo.svg" class=""></a>
                <div class="col d-flex p-0" id="nav-a-md">
                    <a class="nav-link px-md-0" href="#">Головна</a>

                    <a class="nav-link px-md-0" href="#">Про нас</a>

                    <a class="nav-link px-md-0" href="#">Матеріальна база</a>

                    <a class="nav-link px-md-0" href="#">Абітурієнту</a>

                    <a class="nav-link px-md-0" href="#">Студенту</a>

                    <a class="nav-link px-md-0" href="#">Новини</a>

                    <a class="nav-link px-md-0" href="#">Зворотній зв’язок</a>
                </div>
            </div>
            <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0"></div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md sticky-top d-flex d-md-none p-0">

        <a class="navbar-brand p-0 pl-5" href="#"><img src="../../image/Logo.svg" class=""></a>
        <button class="navbar-toggler mr-5" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img src="../../image/Hamburger_icon.png"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " href="#">Про нас</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="#">Матеріальна база</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Абітурієнту</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Студенту</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Новини</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Зворотній зв’язок</a>
                </li>
            </ul>
        </div>
        </div>
        </div>

    </nav>


    <div class="row d-flex m-0 p-0 title-student">
        <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0"></div>
        <div class="col-12 col-md-10 col-lg-8 text-center py-3 py-md-5 px-5 px-md-0">
            <div class="col-12 py-1 py-md-4 px-md-4  for-student-title-inside-cont text-center">
                <span>Студенту</span>
            </div>
        </div>
        <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0"></div>
    </div>


    <div class="row d-flex m-0 p-0 content-background-student">
        <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0"></div>
        <div class="col-12 col-md-10 col-lg-8">
            <div class="d-flex col-12 justify-content-between py-5 m-0" id="container-heading">
                <img src="../../image/left-student-heading-separate.svg">
                <span class="salad-span-heading student-span-heading letter-spacing">ДИСЦИПЛІНИ</span>
                <img src="../../image/right-student-heading-separate.svg">
            </div>
            <div class="col-12 d-flex p-0">
                <div class="col-sm-1 col-lg-3 d-none d-sm-flex"> </div>
                <div class="col-12 col-sm-10 col-lg-6 text-center">
                    <p class="text-center basic-text">
                        Освітня програма <br>
                        <b>"Конструювання, виробництво та технічне
                            обслуговування радіотехнічних пристроїв"</b>
                        на базі 9 класів, 11 класів, освітньо кваліфікаційного рівня
                        <b>"Кваліфікований робітник"</b>
                    </p>
                </div>
                <div class="col-sm-1 col-lg-3 d-none d-sm-flex"></div>

            </div>
            <div class="col-12 d-block py-5 px-3">
                <p class="picture-caption-italic px-2">- Пристрої приймання та передавання інформації;
                </p>
                <p class="picture-caption-italic px-2">- Конструювання та технології виробництва;;
                </p>
                <p class="picture-caption-italic px-2">- Цифрові пристрої, сигнали та процеси;
                </p>
                <p class="picture-caption-italic px-2">- Радіопередавальні пристрої;
                </p>
                <p class="picture-caption-italic px-2">- Пристрої НВЧ та антени;
                </p>
                <p class="picture-caption-italic px-2">- Проектування радіотехнічних пристроїв
                </p>
                <p class="picture-caption-italic px-2">- Автоматика та схемотехніка;
                </p>
                <p class="picture-caption-italic px-2">- Джерела електроживлення та стандартизації;
                </p>
            </div>

        </div>
        <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0"></div>
    </div>
    <div class="row d-flex m-0 p-0 content-background px-5 px-md-0" id="background-yellow-pen">
        <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0"></div>
        <div class="col-12 col-md-10 col-lg-8">
            <div class="col-12 d-block p-0 m-0">
                <div class="d-flex col-12 justify-content-between p-0 py-5 m-0" id="container-heading">
                    <img src="../../image/left-student-heading-separate.svg">
                    <span class="salad-span-heading student-span-heading letter-spacing text-center">ГРАФІК НАВЧАЛЬНОГО
                        ПРОЦЕСУ</span>
                    <img src="../../image/right-student-heading-separate.svg">
                </div>
                <div class="col-12 p-0 m-0 text-center">
                    <button class="red-button">Завантажити графік</button>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0"></div>
    </div>
    <div class="row d-flex m-0 p-0 content-background px-5 px-md-0 py-5">
        <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0"></div>
        <div class="col-12 col-md-10 col-lg-8 d-block">
            <div class="d-flex col-12 justify-content-between p-0 py-5 m-0" id="container-heading">
                <img src="../../image/left-student-heading-separate.svg">
                <span class="salad-span-heading student-span-heading letter-spacing text-center">ДИПЛОМНЕ
                    ПРОЕКТУВАННЯ</span>
                <img src="../../image/right-student-heading-separate.svg">
            </div>
            <div class="col-12 p-o py-5 text-center">
                <p><span class="salad-span-heading student-second-span-heading text-center">Захист студентами дипломних
                        проектів</span></p>
                <p class="p-0 py-5 basic-text"><b>Студенти випускних груп на високому рівні готують і захищають дипломні
                        проекти. Членами державних кваліфікаційних комісій є керівники та начальники підрозділів
                        провідних підприємств Тернополя та області: </b> </p>

            </div>
            <div class="col-12 d-block p-0">
                <div class="col-12 d-flex p-0">
                    <p class="basic-text-bold">Кущак Дмитро Михайлович – </p>
                </div>
                <div class="col-12 d-flex p-0">
                    <div class="col-2"></div>
                    <div class="col-10 p-0">
                        <p class="basic-text">
                            начальник Державної інспекції електрозв’язку по Тернопільській області
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 d-block p-0">
                <div class="col-12 d-flex p-0">
                    <p class="basic-text-bold">Карпів Володимир Богданович – </p>
                </div>
                <div class="col-12 d-flex p-0">
                    <div class="col-2"></div>
                    <div class="col-10 p-0">
                        <p class="basic-text">
                            технічний директор ВАТ ”Тернопільське конструкторське бюро радіозв’язку ”Стріла”
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 d-block p-0">
                <div class="col-12 d-flex p-0">
                    <p class="basic-text-bold">Химич Григорій Петрович –</p>
                </div>
                <div class="col-12 d-flex p-0">
                    <div class="col-2"></div>
                    <div class="col-10 p-0">
                        <p class="basic-text">
                            Тернопільське державне науково-виробниче підприємство “Промінь” Директор філії
                            “Промінь-антени”
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 d-block p-0">
                <div class="col-12 d-flex p-0">
                    <p class="basic-text-bold">Владика Ігор Дмитрович – </p>
                </div>
                <div class="col-12 d-flex p-0">
                    <div class="col-2"></div>
                    <div class="col-10 p-0">
                        <p class="basic-text">
                            начальник відділу технічного та метрологічного забезпечення ВАТ “Тернопільський радіозавод
                            “Оріон”
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 d-block p-0">
                <div class="col-12 d-flex p-0">
                    <p class="basic-text-bold">Грицеляк Володимир Михайлович –</p>
                </div>
                <div class="col-12 d-flex p-0">
                    <div class="col-2"></div>
                    <div class="col-10 p-0">
                        <p class="basic-text">
                            начальник відділу маркетингу і збуту ВАТ “Тернопільський радіозавод “Оріон”
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 d-block p-0">
                <div class="col-12 d-flex p-0">
                    <p class="basic-text-bold">Кордяк Володимир Федорович –</p>
                </div>
                <div class="col-12 d-flex p-0">
                    <div class="col-2"></div>
                    <div class="col-10 p-0">
                        <p class="basic-text">
                            головний конструктор ВАТ “Тернопільський радіозавод “Оріон”
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 d-block p-0 py-3 pb-5">
                <div class="col-12 d-flex p-0">
                    <p class="basic-text-bold">Піскун Сергій Олександрович – </p>
                </div>
                <div class="col-12 d-flex p-0">
                    <div class="col-2"></div>
                    <div class="col-10 p-0">
                        <p class="basic-text">
                            головний конструктор ТОВ ТКБР «Стріла»
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 d-block p-0 py-3">
                <div class="col-12 d-flex py-2">
                    <div class="col-3"> </div>
                    <div class="col-6 p-0 text-center">
                        <img src="../../image/dark-wood-background.png" class="w-100  image-ridius-border">
                    </div>
                    <div class="col-3"> </div>
                </div>
                <div class="col-12 d-flex p-0">
                    <div class="col-1 d-none d-md-flex"> </div>
                    <div class="col-12 col-md-10 d-flex text-center">
                        <P class="basic-text italic"><b>Крім пояснювальної записки та графічної частини,
                                дипломники виконують діючі макети та 3D моделі і демонструють їх працездатність.</b></P>
                    </div>
                    <div class="col-1 d-none d-md-flex"> </div>
                </div>
            </div>
            <div class="col-12 d-block p-0 py-3">
                <div class="col-12 d-flex py-2">
                    <div class="col-3"> </div>
                    <div class="col-6 p-0 text-center">
                        Слайдер
                        <img src="../../image/dark-wood-background.png" class="w-100 image-ridius-border">

                    </div>
                    <div class="col-3"> </div>
                </div>
                <div class="col-12 d-flex p-0">
                    <div class="col-1 d-none d-md-flex"> </div>
                    <div class="col-12 col-md-10 d-flex text-center">
                        <P class="basic-text italic"><b>Директор колледжу В.П. Калушка вручає дипломи студентам групи
                                ТОР-403 (2009 р.).</b></P>
                    </div>
                    <div class="col-1 d-none d-md-flex"> </div>
                </div>
            </div>
            <div class="col-12 d-block p-0 py-3">
                <div class="col-12 d-flex py-2">
                    <div class="col-3"> </div>
                    <div class="col-6 p-0 text-center">
                        <img src="../../image/dark-wood-background.png" class="w-100 image-ridius-border">
                    </div>
                    <div class="col-3"> </div>
                </div>
                <div class="col-12 d-flex p-0">
                    <div class="col-1 d-none d-md-flex"> </div>
                    <div class="col-12 col-md-10 text-center">
                        <P class="basic-text italic"><b>Зав. відділенням В.А. Приймак дає настанову випускникам (2009
                                р.).</b></P>
                    </div>
                    <div class="col-1 d-none d-md-flex"> </div>
                </div>
            </div>
            <div class="col-12 d-block p-0 py-3">
                <div class="col-12 d-flex py-2">
                    <div class="col-3"> </div>
                    <div class="col-6 p-0 text-center">
                        <img src="../../image/dark-wood-background.png" class="w-100 image-ridius-border">
                    </div>
                    <div class="col-3"> </div>
                </div>
                <div class="col-12 d-flex p-0">
                    <div class="col-1 d-none d-md-flex"> </div>
                    <div class="col-12 col-md-10 d-flex text-center">
                        <P class="basic-text italic"><b>Захист дипломних проектів з виготовленням діючих макетів на
                                тему:
                                «Розробка конструкції зарядного пристрою для автомобільного акумулятора» та
                                «Розробка конструкції велекомп'ютера» (2019р.)</b></P>
                    </div>
                    <div class="col-1 d-none d-md-flex"> </div>
                </div>
            </div>
            <div class="col-12 d-block py-3">
                <div class="col-12 d-flex p-0">
                    <div class="col-6 p-2">
                        <img src="../../image/dark-wood-background.png" class="w-100 image-ridius-border">
                    </div>
                    <div class="col-6 p-0"></div>
                </div>
                <div class="col-12 d-flex p-0">
                    <div class="col-6 p-0"></div>
                    <div class="col-6 p-2"><img src="../../image/dark-wood-background.png" class="w-100 image-ridius-border"></div>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0"></div>
    </div>

    <div class="row d-flex m-0 p-0 px-5 px-md-0" id="background-dark-wood">
        <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0"></div>
        <div class="col-12 col-md-10 col-lg-8">
            <div class="col-12 p-o py-5 text-center">
                <p><span class="salad-span-heading text-white text-center">До уваги студентів!</span></p>

            </div>
            <div class="col-12 text-center p-0">
                <P class="basic-text text-white">У рамках проекту <b>ВСП "ТФК ТНТУ"</b> , благодійного фонду
                    ,<b>"Частинка добра"</b> та Посольства США в Україні <b>"Будуй кар'єру в Україні"</b> створено
                    сервіс, який сприятиме працевлаштуванню здобувачів освіти.</P>
                <p class="py-5 text-left basic-text-bold text-white">Переваги цього сайту:</p>
            </div>
            <div class="col-12 d-flex p-0">
                <div class="col-1"></div>
                ]<div class="col-10 p-0 basic-text text-white text-left">
                    <p class="p-0 pb-2"> - допоможе оперативно здійснити пошук вакансій по всій країні та розмістити
                        власне резюме;</p>
                    <p class="p-0 py-2">- полегшить шлях при виборі професії чи спеціальності;</p>
                    <p class="p-0 py-2">- сприятиме співпраці між роботодавцями та потенційними працівниками;
                    </p>
                    <p class="p-0 py-2">- допоможе відшукати саме той професійний шлях у своєму житті, який допоможе
                        розкрити особистий потенціал, зайняти гідне місце на ринку праці, досягнути вершин професійної
                        майстерності та кар’єрного зростання;
                    </p>

                    <p class="p-0 py-2">- рекламуватиме існуючі можливості працевлаштування;
                    </p>
                    <p class="p-0 py-2">- сприятиме збереженню кваліфікованої робочої сили в Україні;
                    </p>

                    <p class="p-0 py-2">- інформуватиме про найактуальніші та найперспективніші професії.
                    </p>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="col-12 text-center pt-5">
                <p class="basic-text text-white pt-5"><b>Режим доступу:<a href="http://buildyourcareer.in.ua/uk" class="text-white"> http://buildyourcareer.in.ua/uk</a></b></p>
            </div>
            <div class="col-12 d-flex p-0 pb-5">
                <div class="col-1 d-none d-md-flex"> </div>
                <div class="col-12 col-md-10 text-center">
                    <P class="basic-text text-white"><b>Величезне прохання  зареєструватися на цьому сайті.
                        Таким чином зможете скористатися всіма можливостями сервісу.</b></P>
                </div>
                <div class="col-1 d-none d-md-flex"> </div>
            </div>
        </div>
        <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0"></div>
    </div>


    <footer>

        <div class="row d-none d-sm-flex m-0  px-0 py-4" id="upper-footer">
            <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0"></div>
            <div class="col-12 col-md-10 col-lg-8 my-2 text-center text-sm-left d-flex p-0">
                <div class="col-4 p-0 pl-5 pl-md-0">
                    <div class="col-12 p-0"><img src="../../image/Logo_2.svg"></div>
                    <div class="col-12 p-0 pt-2">Будь завжди з нами на зв’язку!</div>

                </div>
                <div class="col-4  px-0 pt-2">
                    <div class="col-12"><span class="green-span">Зв’яжися з нами</span></div>
                    <div class="col-12 pt-2">
                        <p>28-18-11, 28-19-36</p>
                        <p>tktdtu@gmail.com</p>
                        <p>м. Тернопіль - 16, вул. Л. Курбаса, 13</p>
                        <p>Україна</p>
                    </div>
                </div>
                <div class="col-4 px-0 pt-2 pr-5 pr-md-0 upper-footer-social-img">
                    <div class="col-12"><span class="green-span">Шукайте нас також на:</span> </div>
                    <div class="col-12 pt-1">
                        <p id="upper-footer-sm" class="pt-1"> <a href="#"><img src="../../image/facebook.svg">
                                facebook</a>
                        </p>
                        <p id="upper-footer-sm"> <a href="#"><img src="../../image/instagram.svg"> instagram</a></p>
                        <p id="upper-footer-sm"> <a href="#"><img src="../../image/youtube.svg"> youtube</a> </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid pt-2 m-0 d-sm-none" id="upper-footer">
            <div class="col-12 d-block d-sm-none py-1 text-50" id="upper-footer-sm">
                <div class="col-12 text-center" id="upper-footer-sm-logo"><img src="../../image/Logo_2.svg"></div>
                <div class="col-12 pt-2 text-center">
                    <p>Телефони: 28-18-11, 28-19-36, Електронна
                        пошта: tktdtu@gmail.com</p>
                    <p>Адреса: м. Тернопіль - 16, вул. Л. Курбаса, 13</p>
                    <p class="upper-footer-social-img">
                        <a href="#"><img src="../../image/facebook.svg"> facebook</a>
                        <a class="px-1 p-md-0" href="#"><img src="../../image/instagram.svg"> instagram</a>
                        <a href="#"><img src="../../image/youtube.svg"> youtube</a></a>

                    </p>
                </div>
            </div>
        </div>

        <div class="row d-flex m-0 p-0" id="second-footer">
            <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0 h-100"></div>
            <div class="row col-12 col-md-10 col-lg-8 my-2 text-center text-sm-left align-middle">
                <div class="col-12 col-md-7 p-0 m-0 pl-sm-5 pl-md-0 text-center text-md-left"> <a href="#"
                        class="p-0 pl-2 pl-md-0">Умови користування</a>
                    <a href="#" class="p-0 pl-2">Конфіденційність</a>
                    <a href="#" class="p-0 pl-2">Контакти</a>
                </div>
                <div
                    class="col-12 col-md-5 p-0 m-0 text-center text-md-right  pr-md-5 pr-md-0 py-2 py-sm-0 pl-0 pl-sm-5  pl-md-0">
                    2021<a href="#">©</a>Всі права захищені | <a href="tk.te.ua">tk.te.ua</a></div>
            </div>
            <div class="col-md-1 col-lg-2 d-none d-md-flex p-0 m-0"></div>
        </div>

    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>