.container-fluid {
    width: 100%;
    
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;

    /* width: 1170px;
    margin: 0 auto; */
}
/* .container {
   width: 1169.39px;
   margin: 0;
} */

.content-background
{
    background: #F0F0F0;
box-shadow: inset 0px 4px 60px rgba(71, 145, 94, 0.62);
}

#top-nav    
{
    background: linear-gradient(0deg, #263249, #263249);
    font-family: Cabin;
   font-style: normal;
   font-size: 10px;
   color: white;
   border-bottom: rgba(233, 63, 52, 0.75) 1px solid;
}
#top-nav img
{
    width: 9px;
    height: 10px;
}

#top-nav div
{ 
 padding: 0px;
}

.nav 
{
    font-family: 'Montserrat', semibold;
    background: #285953;
    font-style: normal;
    font-size: 10px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-a-md
{
    display: flex;
          align-items: center;
          justify-content: space-between;
}
.navbar-brand
{
    display: flex;
    align-items: center;
    justify-content: left;

}

.nav img
{
    max-width: 80%;
    max-height: 80%;
}
.nav a
{
    color: rgba(255, 255, 255, 0.75);
    font-size: 10px;
}
nav
{
    font-family: 'Montserrat', semibold;
    background: #285953;
    font-style: normal;
    font-size: 10px;
    padding: 0px;
}
nav img
{
    max-width: 80%;
    max-height: 80%;

}
nav li
{
    padding: 0px;
}
nav a
{
    padding: 0px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 10px;
}



.nav-link:hover
{
    position:static;
    transition-duration: 300ms;
    padding-bottom: 5px;
    /* transition-duration: 300ms; */
    /* padding: 0px; */
    font-weight: bold;
    border-bottom: rgba(233, 63, 52, 0.75) 1px solid;
    color: white;
    transition-delay: 100ms;
}
.navbar-toggler-icon img
{
    width: 100%;
    height: 100%;
}
.nav-item
{
    background: #285953;
}
#first-footer
{
    background-color: #0E1D39;
}

.lightstyle-background{
    background: #FFFFFF;
    box-shadow: inset 0px 4px 60px rgba(71, 145, 94, 0.62);

    padding-bottom: 15em;
}

footer
{ 
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
#second-footer
{
    background-color: #263249;
    font-size: 10px;
}

#second-footer a
{
    color: white;
}
#second-footer img
{
    height: 13px;
    width: 13px;
}


#upper-footer
{
    background-color: #0E1D39;
    color: white;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.green-span 
{
    color: #47915E;
    font-size: 110%;
}

#upper-footer-sm
{
    font-size: 90%;
}
#upper-footer a
{
    color: white;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

#upper-footer-sm img
{
    max-height: 60px;
    max-width: 80px;
}
#upper-footer-sm-logo
{
    border-bottom: #47915E 1px solid;
}
.upper-footer-social-img img
{
    height: 20px;
    width: 20px;
}
#separator img
{
    max-height: 45px;
    max-width: 90px;
     text-align: center;

}

.galery-triple-block
{
    height: 33%;
}
.galery-height img
{
    padding: 10px;
    height: 100%;
    width: 100%;
}

.galery-height img:hover
{
    position: absolute;
    transition-duration: 600ms;
    transition-delay: 200ms;
    transform: scale(1.1);
    cursor: url(../../image/Lupa.svg), auto;
}

.small-gallery img
{
    max-height: 180px;
    width: 100%;
}
.galery-left-upper
{
    height: 40%;
}
.galery-left-bottom
{
    height: 59%;
}
.galery-height
{
    height: 510px;
}


#container-heading img
{
    width: 80px;
    height: 40px;
}

#green-span-heading
{
    font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: bold;
   line-height: 38px;
   letter-spacing: 0.055em; 
   font-size: 15px;
   color: #47915E;
   letter-spacing: 0.055em;
   text-shadow: 0px 8px 30px rgba(0, 0, 0, 0.42);
}
#grey-span-heading
{
    font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: bold;
   line-height: 38px;
   letter-spacing: 0.055em; 
   font-size: 15px;
   color: #809195;
   letter-spacing: 0.055em;
   text-shadow: 0px 8px 30px rgba(0, 0, 0, 0.42);
}

#black-span-heading
{
    font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-size: 22px;
   color: #000000;
   font-weight: bold;
}

#content-span-link
{
    font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-size: 14px;
    color: black;
    font-weight: bold;
}

#content-span-link:hover
{
    color: black;
    font-size: 99%;
    transition-duration: 180ms;
    transition-delay: 50ms;
}
#background-image-about-us
{
    background-image: url(../../image/about-title-background.svg);
}

@media only screen and (min-width: 600px) {
    #background-image-about-us
{
    background-image: url(../../image/about-title-background.svg);
    background-size: auto;min-height: 100px;
}
    
}

@media only screen and (min-width: 1150px)
{
    #container-heading img
    {
        width: 100px;
        height: 60px;
        align-items: center;
    }
    #container-heading span
    {
        align-items: center;
    }
    #top-nav
    {
        font-size: 12px;
    }
    
    #upper-footer-md-logo
    {
        size: 130%;
        border: none;
    }
    #upper-footer
    {
        font-size: 13px;    
    }
    #upper-footer a
    {
        font-size: 13px;    
    }
    #upper-footer-sm img 
    {
        width: 25px;
        height: 25px;
    }
    #second-footer
    {
        font-size: 12px;
    }
    .galery-height
    {
        height: 600px;
    }
}

@media only screen and (min-width: 1500px)
{
    #top-nav img
    {
        width: 19px;
        height: 19px;
    }
    #top-nav
    {
        font-size: 18px;
    }
    .nav a
    {
        font-size: 18px;
    }
    .nav img
    {
        max-width: 135%;
        max-height: 135%;
    }
    #upper-footer
    {
        font-size: 16px;    
    }
    #upper-footer a
    {
        font-size: 16px;    
    }
    #upper-footer-sm img 
    {
        width: 35px;
        height: 35px;
    }
    #second-footer
    {
        font-size: 15px;
    }
    .galery-height
    {
        height: 780px;
    }
}

@media only screen and (min-width: 2200px)
{
    #top-nav
    {
        
        font-size: 23px;
    }
    #top-nav img
    {
        width: 24px;
        height: 24px;
    }
    .nav
    {
        height: 90px;
    }
    .nav a
    {
        font-size: 23px;
    }
    .nav img
    {
        width: 180px;
        height: 90px;
    }
    #upper-footer
    {
        font-size: 22px;    
    }
    #upper-footer a
    {
        font-size: 22px;    
    }
    #upper-footer-md-logo
    {
        width: 200px;
        height: 100px;
    }
    #second-footer
    {
        font-size: 20px;
    }
    .galery-height
    {
        height: 870px;
    }
}


.hover-triger-green:hover
{
background-color: #285953;
;
border-radius: 10px;
cursor: pointer;
transition-duration: 400ms;
color: white;
transition-delay: 50ms;
} 
.hover-triger-green img path
{
    fill: #FFFFFF;
}

.hover-triger-blue:hover
{
    background-color: #285953;
border-radius: 10px;
cursor: pointer;
transition-duration: 400ms;
color: white;
transition-delay: 50ms;
}