.title-news {
    
    background: url('../../image/jpg/news-title-background.jpg') no-repeat center / cover;
}

.title-material {
    
    background: url('../../image/jpg/material-base-background.png') no-repeat center / cover;
}
.title-about {
    
    background: url('../../image/jpg/about-title-background.png') no-repeat center / cover;
}
.title-student {
    
    background: url('../../image/jpg/student-title-background.png') no-repeat center / cover;
}
.title-abiturient {
    
    background: url('../../image/jpg/abiturietnu-title-background.png') no-repeat center / cover;
}
.feedback-background
{
    background: linear-gradient(178.7deg, #47915E 6.73%, #263249 139.97%);
}
#background-white-wall
{
    background: url('../../image/white-wall-background.png') no-repeat center / cover;
}
#background-yellow-pen
{
    background: url('../../image/yellow-background.png') no-repeat center / cover;
}

#background-dark-wood
{
    background: url('../../image/dark-wood-background.png') no-repeat center / cover;
}

.news-title-inside-cont
{
    background-color: #CFE2D5;
    box-shadow: 0px 12px 50px #CBE0D2;
    font-family: 'Montserrat';
    font-size: 14px;
    color: black;
    font-weight: 400;
}
.about-title-inside-cont
{
    background: #829295;
    box-shadow: 0px 12px 40px #829295;
    font-family: 'Montserrat';
    font-size: 14px;
    color: black;
    border-radius: 60px;
    font-weight: 600;
}
.material-base-title-inside-cont
{
    background: #566581;
    box-shadow: 0px 12px 40px #566581;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 60px;
    text-shadow: 0px 8px 50px #000000;
}

.abitirientu-title-inside-cont
{
    background: #92974C;
    box-shadow: 0px 12px 40px #6B782C;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 60px;
    text-shadow: 0px 12px 35px rgba(0, 0, 0, 0.56);
}

.for-student-title-inside-cont
{
    background: #223E2E;
    box-shadow: 0px 12px 40px #2C4020;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 60px;
    text-shadow: 0px 12px 40px rgba(0, 0, 0, 0.53);
}

.content-background-main
{
    background: #F0F0F0;
    box-shadow: inset 0px 4px 60px rgba(71, 145, 94, 0.62);
}
.content-background-about
{
    background: #F0F0F0;
    box-shadow: inset 0px 4px 60px rgba(127, 143, 146, 0.65);
}
.content-background-material
{
    background: #F0F0F0;
    box-shadow: inset 0px 4px 60px rgba(86, 101, 129, 0.62);
}
.content-background-abiturient
{
    background: #F0F0F0;
    box-shadow: inset 0px 4px 60px rgba(146, 151, 76, 0.64);
}
.content-background-student
{
    background: #F0F0F0;
    box-shadow: inset 0px 4px 60px rgba(34, 62, 46, 0.64);
}
.content-background-news
{
    background: #F0F0F0;
    box-shadow: inset 0px 4px 60px rgba(71, 145, 94, 0.62);
}
.news-content-container
{
    background: white;
}
#container-heading img
{
    width: 80px;
    height: 40px;
}

#green-span-heading
{
    font-family: 'Montserrat';
    letter-spacing: 0.05em; 
    font-weight: 700;
    font-size: 14px;
    color: #47915E;
    text-shadow: 0px 8px 30px rgba(0, 0, 0, 0.42);
}
#grey-span-heading
{
    font-family: 'Montserrat';
    letter-spacing: 0.185em; 
    font-weight: 700;
    font-size: 14px;
    color: #809195;
    text-shadow: 0px 8px 30px rgba(0, 0, 0, 0.42);
}
#black-span-heading
{
    font-family: 'Montserrat';
    letter-spacing: 0.185em; 
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    text-shadow: 0px 8px 30px rgba(0, 0, 0, 0.42);
}
.salad-span-heading
{
    font-family: 'Montserrat';
    letter-spacing: 0.185em; 
    font-weight: 700;
    font-size: 14px;
    color: #ADB450;
    text-shadow: 0px 8px 30px rgba(0, 0, 0, 0.42);
}
#content-span-link
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: black;
    font-weight: bold;
}

#content-span-link:hover
{
    color: black;
    font-size: 99%;
    transition-duration: 180ms;
    transition-delay: 50ms;
}
.hover-triger-green:hover
{
background-color: #285953;
border-radius: 10px;
cursor: pointer;
transition-duration: 400ms;
color: white;
transition-delay: 50ms;
} 
.galery-triple-block
{
    height: 33%;
}
.galery-height img
{
    padding: 10px;
    height: 100%;
    width: 100%;
}

.galery-height img:hover
{
    position: absolute;
    transition-duration: 600ms;
    transition-delay: 200ms;
    transform: scale(1.1);
    cursor: url(../../image/Lupa.svg), auto;
}

.small-gallery img
{
    max-height: 180px;
    width: 100%;
}
.galery-left-upper
{
    height: 40%;
}
.galery-left-bottom
{
    height: 59%;
}
.galery-height
{
    height: 510px;
}

.d-block-sm-galery img
{
    width: 100%;
    max-height: 300px;
    padding: 5px 0px 5px 0px;
}

.lite-text{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 9px;
}

.basic-text
{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
}
.basic-text-bold
{   
    font-family: 'Montserrat';
    font-size: 10px;
    font-weight: 600;
}
.image-svg-hover-triger
{
    width: 80px;
    height: 80px;
}
.grey-bold-text-heading
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 135%;
    text-align: center;
    letter-spacing: -0.05em;
    color: #51595A;
}
.black-list-header
{
    font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-size: 20px;
   color: #000000;
   font-weight: bold;
}
.blue-header
{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    color: #535F77;
    letter-spacing: 0.1em;
    text-shadow: 0px 8px 30px rgba(0, 0, 0, 0.42);
}

.text-italic
{
    font-style: italic;
}
.picture-caption-italic
{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 8px;
}

.salad-second-span-heading
{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    color: #858B2A;
    text-align: center;
    letter-spacing: -0.03em;
    word-spacing: 5px;
}
.letter-spacing
{
    letter-spacing: 2px;
}
.student-span-heading
{
    color: #487B5E;
}

.red-button
{
    font-family: 'Montserrat', semibold;
    font-style: normal;
    font-size: 26px;
    line-height: 38px;
    height: 80px;
    margin: 100px;
    width: 400px;
    background: linear-gradient(93.5deg, #E93F34 6.65%, #C0261C 94.56%);
    box-shadow: 4px 8px 30px rgba(0, 0, 0, 0.46);
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.75);
}
.student-second-span-heading
{
    color: #57836A;
}
.text-white
{
    color: white;
}
.image-ridius-border
{
    border-radius: 10px;
}


.input-transparent-div .input-box
{
    position: relative;
}

.input-transparent-div .input-box input
{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.input-transparent-div .input-box label
{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-transparent-div input:focus ~ label,
.input-transparent-div input:valid ~ label
{
    top: -20px;
    left: 0;
    color: #ffffff;
    font-size: 15px;
}

.feedback-header-text
{
    font-family: 'Montserrat', semibold;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 125%;
color: white;
}



.select-feedback select
{
   width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.select-feedback::after
{
    color: yellow;
    font-size: 50px;
}

.anketa-container
{
    background-color: white;

}
.anketa-content
{
    background-color: #ECECEC;
}
.anketa-green-header-font
{
    font-family: 'Montserrat', semibold;
    font-style: normal;
    color: #858B2A;
    font-weight: 600;
    line-height: 135%;
    font-size: 22px;
}
.anketa-basic-font
{
    font-family: 'Montserrat', semibold;
    font-style: sans-serif;
    font-weight: 300;
font-size: 14px;
line-height: 135%;
letter-spacing: -0.05em;
}

.anketa-content input[type=text]
{
    width: 100%;
    border: none;
   padding: 10px;
   outline: none;
   color: gray;
}

.anketa-content input[type=text]:focus {
    width: 100%;
    border: none;
    outline: none;
  }

  .anketa-content input[type=email]
{
    width: 100%;
    border: none;
   padding: 10px;
   outline: none;
   color: gray;
}

.anketa-content input[type=email]:focus {
    width: 100%;
    border: none;
    outline: none;
  }
  .anketa-content input[type=submit]
  {
    width: 100%;
    border: none;
    outline: none;  
    background: #BCC34A;
    color: white;
    padding: 15px;
    border-radius: 5px;
  }

.slider img
{
    padding: 20px;
    width: 100%;
    border-radius: 10%;
}

.feedback-textarea
{
    font-family: 'Montserrat', semibold;
    font-style: sans-serif;
    color: white;
    background:none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
}
.feedback-textarea:focus
{
        outline: none;
}
.feedback-basic-font
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
        font-size: 16px;
        color: white;
}

.feedback-send-button
{
    font-size: 0px;
    background: url('../../image/feedBack-sendButton.svg') no-repeat center / cover;
    
    margin-left: auto;
    margin-right: auto;
    padding-top: 50%;
    padding-bottom: 50%;
    border-radius: 50%;
    
}

@media only screen and (min-width: 700px)
{    
    .anketa-content input[type=submit]
    {
        padding: 8px;
       margin-top: 8px;
       margin-bottom: 8px;
    
    }
    .picture-caption-italic
    {
        font-size: 12px;
    }
    .red-button
    {
        height: 50px;
        width: 300px;
        font-size: 18px;
        margin: 50px;
    }
    .about-title-inside-cont
    {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .material-base-title-inside-cont
    {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .abitirientu-title-inside-cont
    {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .for-student-title-inside-cont
    {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #container-heading img
    {
        width: 105px;
        height: 32px;
    }
    #green-span-heading
    {
        font-size: 18px;
    }
    #grey-span-heading
    {
        font-size: 24px;
    }
    .blue-header
    {
        font-size: 24px;
    }
    .salad-span-heading
    {
        font-size: 24px;
    }
    .salad-second-span-heading
    {
        font-size: 26px;
    }
    .basic-text
    {
        font-size: 14px;
    }
    .basic-text-bold
    {
        font-size: 14px;   
    }
    .picture-caption-italic
    {
        font-size: 13px;
    }
    .lite-text
    {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1300px)
{
    .anketa-content input[type=submit]
    {
        padding: 10px;
       margin-top: 10px;
       margin-bottom: 10px;
    
    }
    .galery-height
    {
        height: 600px;
    }
    .about-title-inside-cont
    {
        font-size: 32px;

        margin-top: 15px;
        margin-bottom: 15px;

        height: 105xp;
    }
    .material-base-title-inside-cont
    {
        font-size: 32px;

        margin-top: 15px;
        margin-bottom: 15px;

        height: 105xp;
    }
    .abitirientu-title-inside-cont
    {
        font-size: 32px;

        margin-top: 15px;
        margin-bottom: 15px;

        height: 105xp;
    }
    .for-student-title-inside-cont
    {
        font-size: 32px;

        margin-top: 15px;
        margin-bottom: 15px;

        height: 105xp;
    }
    #container-heading img
    {
        width: 136px;
        height: 42px;
    }
    #green-span-heading
    {
        font-size: 26px;  
    }
    #grey-span-heading
    {
        font-size: 32px;
    }
    .blue-header
    {
        font-size: 32px;
    }
    .salad-span-heading
    {
        font-size: 32px;
    }
    .salad-second-span-heading
    {
        font-size: 34px;
    }
    .basic-text
    {
        font-size: 18px;
    }
    .basic-text-bold
    {
        font-size: 18px;   
    }
    .picture-caption-italic
    {
        font-size: 16px;
    }
    .lite-text
    {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1700px)
{
    .anketa-content input[type=submit]
{
   margin-top: 15px;
   margin-bottom: 15px;

}
    .anketa-content input
{
   padding: 18px;
   font-size: 20px;

}
    .anketa-green-header-font
{
    font-size: 28px;
}
.anketa-basic-font
{
font-size: 20px;
}
    .red-button
    {
        font-size: 29px;
    height: 95px;
    margin: 200px;
    width: 550px;
    }
    .lite-text{
        font-family: 'Montserrat';
    
        font-weight: 300;
        font-size: 24px;
    } 
    .basic-text
    {
        font-size: 24px;
    } 
    .basic-text-bold
    {
        font-size: 26px;
    }
    .image-ridius-border
    {
        border-radius: 20px;
    }
    .picture-caption-italic
    {
        font-size: 22px;
    }
    .salad-second-span-heading
    {
        font-size: 52px;
    }
    #green-span-heading
    {
        font-size: 38px;
    }
    #grey-span-heading
    {
        font-size: 42px;
    }
    .blue-header
    {
        font-size: 42px;
    }
    .salad-span-heading
    {
        font-size: 42px;
    }
    .galery-height
    {
        height: 780px;
    }
    #container-heading img
    {
        width: 162px;
        height: 54px;
    }
    #black-span-heading
    {
        font-size: 28px;
    }
    .image-svg-hover-triger
    {
        width: 95px;
        height: 98px;
        padding-bottom: 10px;
    }
    .grey-bold-text-heading
    {
        font-size: 34px;
    }
    .black-list-header
    {
       font-size: 25px;
    }
    .about-title-inside-cont
    {
        font-size: 42px;

        margin-top: 55px;
        margin-bottom: 54px;

        height: 160xp;
    }
    .material-base-title-inside-cont
    {
        font-size: 42px;

        margin-top: 55px;
        margin-bottom: 54px;

        height: 160xp;
    }
    .abitirientu-title-inside-cont
    {
        font-size: 42px;

        margin-top: 55px;
        margin-bottom: 54px;

        height: 160xp;
    }
    .for-student-title-inside-cont
    {
        font-size: 42px;

        margin-top: 55px;
        margin-bottom: 54px;

        height: 160xp;
    }
}