
.main_menu {
    flex-direction: row;
	border: 5px solid black;
	position: fixed;
	left: 0;
	text-decoration: none;
	width: 150px;
	height: auto;
	padding: 0;
	margin-bottom: 5px;
	line-height: 30px;
	text-indent: 0.6em;
}

.footer {
    text-align: center;
    text-decoration: none;
	width: auto;
	padding: 0;
	margin-top: 10px;
	display: block;
	line-height: 30px;
	text-indent: 0.6em;
}