.container-fluid {
    width: 100%;
    
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;

    /* width: 1170px;
    margin: 0 auto; */
}
/* .container {
   width: 1169.39px;
   margin: 0;
} */
#top-nav{
    border-bottom: 2px solid #E93F34;
}
#telephone-num{
    border-right: 2px solid #E93F34;

    padding-top: 1em;
    padding-bottom: 1.1em;
}
#nav 
{
    background-color: #285953;
    ;
}
#nav a::after, a::before
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}
#nav a::before
{
    top: 0px;   
}
#nav a::after
{
    bottom: 0px;
    transform: translateY(-10px);
}
#top-nav
{
    background: linear-gradient(0deg, #263249, #263249);
    margin: 0px;
    padding: 0px;
   font-size: 15px;
   min-height: 47px;
   font-family: Cabin;
   font-style: normal;
   color: white;
}
#top-nav img
{
    max-width: 20px;
    max-height: 20px;
}
#first-footer
{
    background-color: #0E1D39;
}
.lightstyle-background{
    background: #FFFFFF;
    box-shadow: inset 0px 4px 60px rgba(71, 145, 94, 0.62);
}
footer
{   color: white;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
}

.span-green
{
    color: #47915E;
    font-size: 120%;
    font-weight: 600;
}
#second-footer
{
    background-color: #263249;
}

#second-footer a
{
    margin-left: 6px;
    color: white;
}
#top-nav-test
{
    background: linear-gradient(0deg, #263249, #263249);
    margin: 0px;
    padding: 0px;
   font-size: 15px;
   font-family: Cabin;
   font-style: normal;
   color: white;
}