#top-nav    
{
    background: linear-gradient(0deg, #263249, #263249);
    font-family: Cabin;
   font-style: normal;
   font-size: 10px;
   color: white;
   border-bottom: rgba(233, 63, 52, 0.75) 1px solid;
}
#top-nav img
{
    width: 9px;
    height: 10px;
}

#top-nav div
{ 
 padding: 0px;
}

.content-background
{
    background: #F0F0F0;
box-shadow: inset 0px 4px 60px rgba(71, 145, 94, 0.62);
}

.nav 
{
    font-family: 'Montserrat', semibold;
    background: #285953;
    font-style: normal;
    font-size: 10px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-a-md
{
    display: flex;
          align-items: center;
          justify-content: space-between;
}
.navbar-brand
{
    display: flex;
    align-items: center;
    justify-content: left;

}

.nav img
{
    max-width: 80%;
    max-height: 80%;
}
.nav a
{
    color: rgba(255, 255, 255, 0.75);
    font-size: 10px;
}
nav
{
    font-family: 'Montserrat', semibold;
    background: #285953;
    font-style: normal;
    font-size: 10px;
    padding: 0px;
}
nav img
{
    max-width: 80%;
    max-height: 80%;

}
nav li
{
    padding: 0px;
}
nav a
{
    padding: 0px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 10px;
}



.nav-link:hover
{
    transition-duration: 400ms;
    padding-bottom: 5px;
    /* transition-duration: 300ms; */
    /* padding: 0px; */
    border-bottom: rgba(233, 63, 52, 0.75) 1px solid;
    color: white;
}
.navbar-toggler-icon img
{
    width: 100%;
    height: 100%;
}
.nav-item
{
    background: #285953;
}
#first-footer
{
    background-color: #0E1D39;
}
footer
{ 
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
#second-footer
{
    background-color: #263249;
    font-size: 10px;
}

#second-footer a
{
    color: white;
}
#second-footer img
{
    height: 13px;
    width: 13px;
}
#second-footer img:hover
{
    height: 15px;
    width: 15px;
    transition-duration: 1600ms;
}

#upper-footer
{
    background-color: #0E1D39;
    color: white;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.green-span 
{
    color: #47915E;
    font-size: 110%;
}

#upper-footer-sm
{
    font-size: 90%;
}
#upper-footer a
{
    color: white;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

#upper-footer-sm img
{
    max-height: 60px;
    max-width: 80px;
}
#upper-footer-sm-logo
{
    border-bottom: #47915E 1px solid;
}
.upper-footer-social-img img
{
    height: 20px;
    width: 20px;
}

@media only screen and (min-width: 1150px)
{
    #top-nav
    {
        font-size: 12px;
    }
    
    #upper-footer-md-logo
    {
        size: 130%;
        border: none;
    }
    #upper-footer
    {
        font-size: 13px;    
    }
    #upper-footer a
    {
        font-size: 13px;    
    }
    #upper-footer-sm img 
    {
        width: 25px;
        height: 25px;
    }
    #second-footer
    {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1500px)
{
    #top-nav
    {
        font-size: 18px;
    }
    .nav a
    {
        font-size: 18px;
    }
    .nav img
    {
        max-width: 135%;
        max-height: 135%;
    }
    #upper-footer
    {
        font-size: 16px;    
    }
    #upper-footer a
    {
        font-size: 16px;    
    }
    #upper-footer-sm img 
    {
        width: 35px;
        height: 35px;
    }
    #second-footer
    {
        font-size: 15px;
    }
}

@media only screen and (min-width: 2200px)
{
    #top-nav
    {
        
        font-size: 23px;
    }
    #top-nav img
    {
        width: 24px;
        height: 24px;
    }
    .nav
    {
        height: 90px;
    }
    .nav a
    {
        font-size: 23px;
    }
    .nav img
    {
        width: 180px;
        height: 90px;
    }
    #upper-footer
    {
        font-size: 22px;    
    }
    #upper-footer a
    {
        font-size: 22px;    
    }
    #upper-footer-md-logo
    {
        width: 200px;
        height: 100px;
    }
    #second-footer
    {
        font-size: 20px;
    }
}