<!doctype html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="slider.css" rel="stylesheet">
  <title>ЦК Електронних апаратів</title>
</head>

<body>
 
  <div class="flex-wrapper">
    <div class="slider-wrapper">
      <div class="slide active">
        <img src="../image/jpg/Background-img-1.jpg">
      </div>
      <div class="slide">
        <img src="../image/jpg/Background-img-2.jpg">
      </div>
      <div class="slide">
        <img src="../image/jpg/Background-img-3.jpg">
      </div>
    </div>
  </div>
  <div class="dots-wrapper">
    <span class="dot active"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
 
    <script src="slider.js"></script>
</body>

</html>