.g-recaptcha > div{margin: 0 auto;}

.title-news {
    
    background: url('../image/jpg/news-title-background.jpg') no-repeat center / cover;
}

.title-material {
    
    background: url('../image/jpg/material-base-background.png') no-repeat center / cover;
}
.title-about {
    
    background: url('../image/jpg/about-title-background.png') no-repeat center / cover;
}
.title-student {
    
    background: url('../image/jpg/student-title-background.png') no-repeat center / cover;
}
.title-abiturient {
    
    background: url('../image/jpg/abiturietnu-title-background.png') no-repeat center / cover;
}
.feedback-background
{
    background: linear-gradient(178.7deg, #47915E 6.73%, #263249 139.97%);
}
#background-white-wall
{
    background: url('../image/white-wall-background.png') no-repeat center / cover;
}
#background-yellow-pen
{
    background: url('../image/yellow-background.png') no-repeat center / cover;
}

#background-dark-wood
{
    background: url('../image/dark-wood-background.png') no-repeat center / cover;
}

.news-title-inside-cont
{
    background-color: #CFE2D5;
    box-shadow: 0px 12px 50px #CBE0D2;
    font-family: 'Montserrat', semibold;
    font-style: normal;
    font-size: 38px;
    color: black;
    
    font-weight: 400;
}
.about-title-inside-cont
{
    background: #829295;
box-shadow: 0px 12px 40px #829295;
font-family: 'Montserrat', semibold;
    font-style: normal;
    font-size: 38px;
    color: black;
    
    font-weight: 400;
}
.material-base-title-inside-cont
{
    background: #566581;
box-shadow: 0px 12px 40px #566581;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 38px;
    color: #FFFFFF;
text-shadow: 0px 8px 50px #000000;
}

.abitirientu-title-inside-cont
{
    background: #92974C;
    box-shadow: 0px 12px 40px #6B782C;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    border-radius: 60px;
    text-shadow: 0px 12px 35px rgba(0, 0, 0, 0.56);
}

.for-student-title-inside-cont
{
    background: #223E2E;
    box-shadow: 0px 12px 40px #2C4020;
    font-family: 'Montserrat', semibold;
    font-style: normal;
    font-size: 38px;
    color: #FFFFFF;
    border-radius: 60px;
text-shadow: 0px 12px 40px rgba(0, 0, 0, 0.53);
}

.content-background
{
    background: #F0F0F0;
box-shadow: inset 0px 4px 60px rgba(71, 145, 94, 0.62);
}
.news-content-container
{
    background: white;
}
#container-heading img
{
    width: 80px;
    height: 40px;
    
}

#green-span-heading
{
    font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: bold;
   letter-spacing: 0.055em; 
   font-weight: 900;
   font-size: 15px;
   color: #47915E;
   text-shadow: 0px 8px 30px rgba(0, 0, 0, 0.42);
}
#grey-span-heading
{
    font-family: 'Montserrat', sans-serif;
   letter-spacing: 0.055em; 
   font-weight: bold;
   font-size: 22px;
   color: #809195;
   text-shadow: 0px 8px 30px rgba(0, 0, 0, 0.42);
}
#black-span-heading
{
    font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-size: 22px;
   color: #000000;
   font-weight: bold;
}

#content-span-link
{
    font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-size: 14px;
    color: black;
    font-weight: bold;
}

#content-span-link:hover
{
    color: black;
    font-size: 99%;
    transition-duration: 180ms;
    transition-delay: 50ms;
}
.hover-triger-green:hover
{
background-color: #285953;
;
border-radius: 10px;
cursor: pointer;
transition-duration: 400ms;
color: white;
transition-delay: 50ms;
} 
.galery-triple-block
{
    height: 33%;
}
.galery-height img
{
    padding: 10px;
    height: 100%;
    width: 100%;
}

.galery-height img:hover
{
    position: absolute;
    transition-duration: 600ms;
    transition-delay: 200ms;
    transform: scale(1.1);
    cursor: url(../../image/Lupa.svg), auto;
}

.small-gallery img
{
    max-height: 180px;
    width: 100%;
}
.galery-left-upper
{
    height: 40%;
}
.galery-left-bottom
{
    height: 59%;
}
.galery-height
{
    height: 510px;
}

.d-block-sm-galery img
{
    width: 100%;
    max-height: 300px;
    padding: 5px 0px 5px 0px;
}

.lite-text{
    font-family: 'Montserrat';

    font-weight: 300;
    font-size: 14px;
}

.basic-text
{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.basic-text-bold
{
    font-size: 16px;
    font-weight: 600;
}
.image-svg-hover-triger
{
    width: 79px;
    height: 80px;
}
.grey-bold-text-heading
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 135%;
    text-align: center;
    letter-spacing: -0.05em;
    color: #51595A;
}
.black-list-header
{
    font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-size: 20px;
   color: #000000;
   font-weight: bold;
}
.blue-header
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 22px;
    color: #535F77;
    font-weight: 900;
    letter-spacing: 0.1em;
}
.salad-span-heading
{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.055em; 
    font-weight: bold;
    font-size: 22px;
    color: #ADB450;
    text-shadow: 0px 8px 30px rgba(0, 0, 0, 0.42);
}
.text-italic
{
    font-style: italic;
}
.picture-caption-italic
{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 149.4%;
}

.salad-second-span-heading
{
    font-family: 'Montserrat', semibold;
    
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #858B2A;
    line-height: 135%;
    text-align: center;
    letter-spacing: -0.03em;
    word-spacing: 5px;
}
.letter-spacing
{
    letter-spacing: 2px;
}
.student-span-heading
{
    color: #487B5E;
}

.red-button
{
    font-family: 'Montserrat', semibold;
    font-style: normal;
    font-size: 26px;
    line-height: 38px;
    height: 80px;
    margin: 100px;
    width: 400px;
    background: linear-gradient(93.5deg, #E93F34 6.65%, #C0261C 94.56%);
    box-shadow: 4px 8px 30px rgba(0, 0, 0, 0.46);
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.75);
}
.student-second-span-heading
{
    color: #57836A;
}
.text-white
{
    color: white;
}
.image-ridius-border
{
    border-radius: 10px;
}


.input-transparent-div .input-box
{
    position: relative;
}

.input-transparent-div .input-box input
{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.input-transparent-div .input-box label
{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-transparent-div input:focus ~ label,
.input-transparent-div input:valid ~ label
{
    top: -20px;
    left: 0;
    color: #ffffff;
    font-size: 15px;
}

.feedback-header-text
{
    font-family: 'Montserrat', semibold;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 125%;
color: white;
}



.select-feedback select
{
   width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.select-feedback::after
{
    color: yellow;
    font-size: 50px;
}

.anketa-container
{
    background-color: white;

}
.anketa-content
{
    background-color: #ECECEC;
}
.anketa-green-header-font
{
    font-family: 'Montserrat', semibold;
    font-style: normal;
    color: #858B2A;
    font-weight: 600;
    line-height: 135%;
    font-size: 22px;
}
.anketa-basic-font
{
    font-family: 'Montserrat', semibold;
    font-style: sans-serif;
    font-weight: 300;
font-size: 14px;
line-height: 135%;
letter-spacing: -0.05em;
}

.anketa-content input[type=text]
{
    width: 100%;
    border: none;
   padding: 10px;
   outline: none;
   color: gray;
}

.anketa-content input[type=text]:focus {
    width: 100%;
    border: none;
    outline: none;
  }

  .anketa-content input[type=email]
{
    width: 100%;
    border: none;
   padding: 10px;
   outline: none;
   color: gray;
}

.anketa-content input[type=email]:focus {
    width: 100%;
    border: none;
    outline: none;
  }
  .anketa-content input[type=submit]
  {
    width: 100%;
    border: none;
    outline: none;  
    background: #BCC34A;
    color: white;
    padding: 15px;
    border-radius: 5px;
  }

.slider img
{
    padding: 20px;
    width: 100%;
    border-radius: 10%;
    object-fit: cover;
    
}
.slider
{
    font-size: 10px;
    text-align: center;
}


.slider-news img
{
    position:relative;
    width: 100%;
    border-radius: 5%;
    object-fit: cover;
}

.slider-news a 
{ 
    display: block; 
position: relative; 
margin: 5px; 
transition-duration: 300ms;
}

.slider-news a:after 
{ 
    border-radius: 5%;
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0;
    bottom: 0; 
    background: rgba(0,0,0,.5);  
    opacity: 0; }

.slider-news a:before 
{ 
    border-radius: 5%;
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: url(icon-path); 
    opacity: 0; }

.slider-news a:hover:before,
.slider-news a:hover:after 
{ 
    opacity: 1; 
    transition-duration: 300ms;
}

.slider-news
{
    font-size: 10px;
    text-align: center;
}


.feedback-textarea
{
    font-family: 'Montserrat', semibold;
    font-style: sans-serif;
    color: white;
    background:none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
}
.feedback-textarea:focus
{
        outline: none;
}
.feedback-basic-font
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
        font-size: 16px;
        color: white;
}

.feedback-send-button
{
    background: linear-gradient(93.5deg, #E93F34 6.65%, #C0261C 94.56%);
    box-shadow: 4px 8px 30px rgba(0, 0, 0, 0.46);
    border-radius: 33px;
    color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 19px;
    font-weight: bold;
}

.slider-student-one-photo img {
    margin: 0 auto;
    overflow: hidden;
}

@media only screen and (max-width: 700px)
{    
    .anketa-content input[type=submit]
    {
        padding: 8px;
       margin-top: 8px;
       margin-bottom: 8px;
    
    }
    .picture-caption-italic
    {
        font-size: 12px;
    }
    .red-button
    {
        height: 50px;
        width: 300px;
        font-size: 18px;
        margin: 50px;
    }
    .abitirientu-title-inside-cont{
        font-size: 24px;

        margin-top: 55px;
        margin-bottom: 54px;

        height: 70xp;
    }
}

@media only screen and (min-width: 1150px)
{
    .anketa-content input[type=submit]
    {
        padding: 10px;
       margin-top: 10px;
       margin-bottom: 10px;
    
    }
    .galery-height
    {
        height: 600px;
    }
    .abitirientu-title-inside-cont{
        font-weight: 600;
        font-size: 32px;

        margin-top: 35px;
        margin-bottom: 34px;

        height: 105xp;
    }
}

@media only screen and (min-width: 1650px)
{
    .anketa-content input[type=submit]
{
   margin-top: 15px;
   margin-bottom: 15px;

}
    .anketa-content input
{
   padding: 18px;
   font-size: 20px;

}
    .anketa-green-header-font
{
    font-size: 28px;
}
.anketa-basic-font
{
font-size: 20px;
}
    .red-button
    {
        font-size: 29px;
    height: 95px;
    margin: 200px;
    width: 550px;
    }
    .lite-text{
        font-family: 'Montserrat';
    
        font-weight: 300;
        font-size: 24px;
    } 
    .basic-text
    {
        font-size: 24px;
    } 
    .basic-text-bold
    {
        font-size: 26px;
    }
    .image-ridius-border
    {
        border-radius: 20px;
    }
    .picture-caption-italic
    {
        font-size: 22px;
    }
    .salad-second-span-heading
    {
        font-size: 52px;
    }
    .salad-span-heading
    {
        font-size: 42px;
        letter-spacing: 0.185em;
    }
    .galery-height
    {
        height: 780px;
    }
    #green-span-heading
    {
        font-size: 18px;
    }
    #container-heading img
    {
        width: 162px;
        height: 54px;
    }
    #black-span-heading
    {
        font-size: 28px;
    }
    .image-svg-hover-triger
    {
        width: 95px;
        height: 98px;
        padding-bottom: 10px;
    }
    #grey-span-heading
    {
        font-size: 26px;
    }
    .grey-bold-text-heading
    {
        font-size: 34px;
    }
    .black-list-header
    {
       font-size: 25px;
    }
    .blue-header
    {
        font-size: 28px;
    }
    .abitirientu-title-inside-cont{
        font-size: 42px;

        margin-top: 55px;
        margin-bottom: 54px;

        height: 160xp;
    }
}

@media only screen and (min-width: 2200px)
{
    .anketa-content input[type=email]
{
   padding: 22px;

}
.anketa-content input[type=text]
{
   padding: 22px;

}
.anketa-content input[type=submit]
{
   padding: 32px;
   margin-top: 20px;
   margin-bottom: 20px;

}
    .anketa-content input
    {
        font-size: 25px;
    }
    .anketa-green-header-font
{
    font-size: 34px;
}
.anketa-basic-font
{
font-size: 25px;
}
    .red-button
    {
        height: 120px;
        width: 700px;
        font-size: 32px;
        margin: 300px;
    }
    .basic-text-bold
    {
        font-size: 35px;
    }
    .image-ridius-border
    {
        border-radius: 40px;
    }
    .picture-caption-italic
    {
        font-size: 32px;
    }
    .salad-second-span-heading
    {
        font-size: 42px;
    }
    .salad-span-heading
    {
        font-size: 36px;
    }
    .galery-height
    {
        height: 870px;
    }
    #green-span-heading
    {
        font-size: 22px;
    }
    #container-heading img
    {
        width: 110px;
        height: 45px;
    }
    #black-span-heading
    {
        font-size: 32px;
    }
    .basic-text
    {
        font-size: 32px;
    }    
    .image-svg-hover-triger
    {
        width: 110px;
        height: 111px;
        padding-bottom: 20px;
    }
    #grey-span-heading
    {
        font-size: 32px;
    }
    .grey-bold-text-heading
    {
        font-size: 38px;
    }
    .black-list-header
    {
       font-size: 29px;
    }
    .blue-header
    {
        font-size: 36px;
    }
}