.cssSlider {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.cssSlider .slides {
    overflow: hidden;
    overflow: hidden;
    width: 100%;
    height: 70vmin;
    margin: 0;
    padding: 0;
    list-style: none;
}
.cssSlider .slides > li {
    width: 100%;
    height: 70vmin;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}
.cssSlider .slides > li > img {
    width: 100%;
    height: auto;
}

.cssSlider .slides > li:first-child:not(:target) {
    z-index: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
}

.cssSlider .thumbnails {
    display: block;
/*    position: relative;*/
    position: unset;
    padding: 0;
    margin: 0;
    list-style: none;
}
.cssSlider .thumbnails > li {
    float: left;
    width: 33.3333%;
}

.cssSlider .thumbnails > li > a {
    display: block;
}
.cssSlider .thumbnails > li > a > img {
    width: 100%;
    height: auto;
}

.cssSlider .slides li:target {
    z-index: 3;
    -webkit-animation: slide 1s 1;
}
.cssSlider .slides li:not(:target) {
    -webkit-animation: hidden 1s 1;
}
@-webkit-keyframes slide {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}
@keyframes slide {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}
@-webkit-keyframes hidden {
    0% {
        z-index: 2;
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    100% {
        z-index: 2;
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
}
@keyframes hidden {
    0% {
        z-index: 2;
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    100% {
        z-index: 2;
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
}