li {
	list-style-type: none;
}

.menu {
	text-decoration: none;
	border: 1px solid blue;
	width: 200px;
	padding: 0;
	margin-bottom: 5px;
	//display: block;
	line-height: 30px;
	text-indent: 0.6em;
}

li a:hover {
	font-weight: bold;
}

.l5 {
	border: 1px solid blue;
	width: 60%;
	padding: 0;
	margin-bottom: 5px;
	display: block;
	line-height: 30px;
	text-indent: 0.6em;
}