<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="news.css" rel="stylesheet">
    <title>Новини</title>
</head>
    
    <div class="news">
        <div class="title">
            <div class="container">
                <div class="text-background">
                    <div class="title-text"><span>Новини</span></div>
                </div>
                <div class="news-slider"></div>
            </div>
        </div>
        <div class="content">
            <div class="content-background">
                <div class="container">
                    <div class="news-block">
                        <form action="" class="">
                            <span class="news-title ">Деякий текст ...</span>
                            <div class="news-background row">
                                <img src="../image/jpg/orig/Gallery-img-3.jpg" alt="">
                                <div class="col">
                                    <span><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia ...</h3></span>
                                    <a href="#" class="btn">Читати далі >></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="news-block">
                        <form action="" class="">
                            <span class="news-title ">Деякий текст ...</span>
                            <div class="news-background row">
                                <img src="../image/jpg/orig/Gallery-img-4.jpg" alt="">
                                <div class="col">
                                    <span><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia ...</h3></span>
                                    <a href="#" class="btn">Читати далі >></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="news-block">
                        <form action="" class="">
                            <span class="news-title ">Деякий текст ...</span>
                            <div class="news-background row">
                                <img src="../image/jpg/orig/Gallery-img-8.jpg" alt="">
                                <div class="col">
                                    <span><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia ...</h3></span>
                                    <a href="#" class="btn">Читати далі >></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="news-block">
                        <form action="" class="">
                            <span class="news-title ">Деякий текст ...</span>
                            <div class="news-background row">
                                <img src="../image/jpg/orig/Gallery-img-2.jpg" alt="">
                                <div class="col">
                                    <span><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia ...</h3></span>
                                    <a href="#" class="btn">Читати далі >></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="page-select">
                        <a href="#" class="prev">< Попередня</a>
                        <ul class="pg-num">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">...</a></li>
                        </ul>
                        <a href="#" class="next">Наступна ></a>
                    </div>
                </div> 
            </div>
        </div>
       
    </div>
    


    <!-- <header>
        <div class="row d-flex align-middle p-0 m-0 py-1 sticky-top" id="top-nav">
            <div class="d-none d-sm-flex ml-0 ml-sm-5 col-sm-5 col-md-2"><img src="../../image/telephone.svg">
                <span>28-18-11, 28-19-36</span>
            </div>
            <div class="col-6 d-flex d-sm-none"><img src="../../image/telephone.svg"><span>28-18-11, 28-19-36</span>
            </div>
            <div class="col-6 col-sm-5 col-md-4"><img src="../../image/mail.svg">tktdtu@gmail.com</div>
            <div class="d-none d-lg-flex col-md-2"></div>
        </div>
    </header>
    <nav class="navbar navbar-expand-md p-0 align-middle sticky-top">
        <a class="navbar-brand ml-sm-5 p-0" href="#"><img src="../../image/Logo.svg" class="ml-0 ml-xl-5"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img src="../../image/Hamburger_icon.png"></span>
        </button>
        <div class="collapse navbar-collapse p-0" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item mr-3 m-md-0 mr-lg-4">
                    <a class="nav-link" href="#">Головна</a>
                </li>
                <li class="nav-item mr-lg-4">
                    <a class="nav-link  " href="#">Про нас</a>
                </li>
                <li class="nav-item  mr-lg-4">
                    <a class="nav-link " href="#">Матеріальна база</a>
                </li>
                <li class="nav-item  mr-lg-4">
                    <a class="nav-link " href="#">Абітурієнту</a>
                </li>
                <li class="nav-item  mr-lg-4">
                    <a class="nav-link " href="#">Студенту</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Новини</a>
                </li>
            </ul>
        </div>
    </nav>



    <div class="row p-0 m-0">
        <div class="col-12 text-center p-0 m-0" id="separator"><img src="../image/bitween-container-separate.svg"></div>
        <div class="col-sm-1"></div>
        <div class="col-12 col-sm-10 d-block pb-5 m-0">

            <div class="col-12 d-block d-sm-flex">
                <img src="../image/left-heading-separate.svg">
            <span id="green-span-heading"><b>ПРО НАС</b></span>

            <img src="../image/right-heading-separate.svg">
            </div>
        </div>
        <div class="col-sm-1"></div>



        <footer>
            <footer>
                <div class="row m-0 p-0" id="upper-footer">

                    <div class="col-12 pb-2 m-0 d-none d-sm-flex">
                        <div class="col-4 pl-xl-5 pt-2">
                            <div class="col-12"><img src="../../image/Logo.svg"></div>
                            <div class="col-12 pt-2">Будь завжди з нами на зв’язку!</div>

                        </div>
                        <div class="col-4 pt-2">
                            <div class="col-12"><span class="green-span">Зв’яжися з нами</span></div>
                            <div class="col-12 pt-2">
                                <p><img src="../../image/telephone.svg">28-18-11, 28-19-36</p>
                                <p><img src="../../image/mail.svg">tktdtu@gmail.com</p>
                                <p>м. Тернопіль - 16, вул. Л. Курбаса, 13</p>
                                <p>Україна</p>
                            </div>
                        </div>
                        <div class="col-4 pt-2 pr-xl-5">
                            <div class="col-12"><span class="green-span">Останні події</span> </div>
                            <div class="col-12 pt-1">
                                <p>Отримуй найновішу інформацію у будь-який час!</p>
                                <input type="email" class="form-control" placeholder="Email"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2"
                                    id="upper-header-input-group">
                                <div class="input-group-append align-content-center">
                                    <button class="btn btn-outline-secondary" type="button"
                                        id="upper-header-input-button">Готово</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-block d-sm-none py-1 text-50" id="upper-footer-sm">
                        <div class="col-12 text-center" id="upper-footer-sm-logo"><img src="../../image/Logo.svg"></div>
                        <div class="col-12 pt-1 text-center">
                            <p><img src="../../image/telephone.svg">Телефони: 28-18-11, 28-19-36, <img
                                    src="../../image/mail.svg">Електронна пошта: tktdtu@gmail.com</p>
                            <p>Адреса: м. Тернопіль - 16, вул. Л. Курбаса, 13</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-0 m-0 d-block d-sm-flex" id="second-footer">
                    <div class="col-12 col-sm-5 pl-md-5 py-2 text-center text-sm-left">
                        <a href="#">Контакти</a>
                        <a href="#" class="p-0 pl-2">Умови користування</a>
                        <a href="#" class="p-0 pl-2">Конфіденційність</a>
                    </div>
                    <div class="col-2 text-center py-1 d-none d-sm-flex"><a href="#"><span class="align-middle"> <img
                                    src="../../image/arrow-up.svg"></span></a>
                    </div>
                    <div class="col-12 col-sm-5 py-2 text-center">2021© Всі права захищені | <a
                            href="tk.te.ua">tk.te.ua</a> </div>
                </div>
            </footer>
        </footer> -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>