nav
{
    font-family: 'Montserrat', sans-serif;
    background: #285953;
    min-height: 100px;
    font-style: normal;
    font-size: 23px;
    padding: 0px;
}
nav li
{
    padding: 0px;
}
nav a
{
    padding: 0px;
    color: white;
}

.nav-link:hover
{
    transition-duration: 160ms;
    padding: 0px;
    font-size: 102%;
    border-bottom: rgba(233, 63, 52, 0.75) 4px solid;
    color: white;
}
.navbar-toggler-icon img
{
    width: 100%;
    height: 100%;
}