#upper-footer
{
    background-color: #0E1D39;
    color: white;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.green-span 
{
    color: #47915E;
    font-size: 110%;
}
#upper-footer input
{
 max-width: 100%;   
 background: rgba(89, 83, 83, 0.37);
 color: white;
}
#upper-header-input-group
{
    max-height: 20px;
}
#upper-header-input-button
{
    max-height: 20px;
    padding: 2px;
    font-size: 10px;
    align-items: center;
    text-align: center;
}
#upper-footer-sm
{
    font-size: 90%;
}
#upper-footer-sm img
{
    max-height: 60px;
    max-width: 80px;
}
#upper-footer-sm-logo
{
    border-bottom: rgba(233, 63, 52, 0.75) 1px solid;
}
