<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../components/upper_header.css">
    <title>ЦК Електронних апаратів</title>
</head>

<body>

    <header>
        <div class="row d-flex align-content-center p-0 m-0 sticky-top" id="top-nav">
            <div class="d-none d-sm-flex ml-0 ml-md-5 col-sm-5 col-md-4"><img src="../../image/telephone.svg">
                <span>28-18-11, 28-19-36</span>
            </div>
            <div class="col-4 d-flex d-sm-none"><img src="../../image/telephone.svg"><span>28-18-11</span></div>
            <div class="col-6 col-sm-5 col-md-4"><img src="../../image/mail.svg">tktdtu@gmail.com</div>
            <div class="d-none d-lg-flex col-md-2"></div>
            <div class="col-2 col-sm-2 col-md-1">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="../../image/Ukraine_icon.svg"><span> UA</span>
                    </button>
                    <div class="dropdown-menu col-xs-12" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">UA</a>
                      <a class="dropdown-item" href="#">EU</a>
                      
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>